*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    margin-left:10%;
    margin-right:10%;
    box-sizing: border-box;
}

header{
    margin-top: 30px;
    height: 150px;
}

.first-block{
    background-image: url("../img/banner.jpg");
    background-size: cover;
    filter: brightness(65%);
    margin-top: 30px;
    height: 500px;
    border-radius: 15px;
    padding-left: 10%;
    padding-right: 50%;
    color: white;
    padding-top: 150px;
    
}

.second-block{
    margin-top: 30px;
    padding-bottom: 10px;
    color: grey;
    font-size: 20px;
}

.top{
    min-height: 100px;
    margin-bottom: 10px;
}

.section-left{
    width: 20%;
    float: left;
}

.section-centre{
    margin: 0% 2%; 
    float: left;
    width: 56%;
}

.section-right{
    width: 20%;
    float: left;
}

footer{
    margin-top: 40px;
    height: 70px;
    margin-bottom: 30px;
}