.logo{
    height: 45%;
    border-right: 1px solid grey;
    padding-right: 25px;
    margin-bottom: 45px;
}

/* lista orizzontale */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}  

li{
    float: left;
    display: block;
    color: #a9a9a9;
    padding-right: 16px;
    text-decoration: none;
    font-size: 20px;
}

li:active{
    color:red;
}

.first-block .title{
    font-size: 35px;
}

.first-block .subtitle{
    font-size: 15px;
}

h1{
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.second-block .subtitle{
    font-size: 20px;
}

.image{
    width: 100%;
    height: 200px;
    /*filter: brightness(65%);*/
    border-radius: 15px;
    background-color: blue;
}

#image-one{
    background-image: url("../img/img-1.jpg");
    background-position: center;
    background-size: 200px;
}

#image-two{
    background-image: url("../img/banner-2.jpg");
    background-position: center;
    background-size: 400px;
}

#image-three{
    background-image: url("../img/img-3.jpg");
    background-position: center;
    background-size: 300px;
}

h2{
    color: black;
    font-size: 20px;
    margin: 10px 0;
}

.paragraph{
    font-size: 15px;
}
.credits{
    text-align: center;
}

.credits::after{
    content: '\2764';
    color: red;
}